# Enable rewrite engine and route requests to appropriate files
RewriteEngine On

 # !!! change this to /your_doc_root/pingpong
RewriteBase /web/pingpong

RewriteRule ^com.x.ecosystemmanagement.v2/PingPong/Ping$ handle_ping.php [L]
RewriteRule ^com.x.ecosystemmanagement.v2/PingPong/Pong$ handle_pong.php [L]
RewriteRule ^message/failed$ handle_message_failed.php [L]
RewriteRule ^publish$ send_ping.php [L]

# Disable ETags
<IfModule mod_headers.c>
	Header Unset ETag
	FileETag none
</IfModule>

# Default expires header if none specified (stay in browser cache for 7 days)
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A604800
</IfModule>