# Enable rewrite engine and route requests to appropriate files
RewriteEngine On
RewriteBase /web/pingpong
RewriteRule ^com.x.ecosystemmanagement.v1/PingPong/Ping$ handle_ping.php [L]
RewriteRule ^com.x.ecosystemmanagement.v1/PingPong/Pong$ handle_pong.php [L]
RewriteRule ^com.x.core.v1/TransactionCompleted$ handle_transaction_completed.php [L]
RewriteRule ^publish$ send_ping.php [L]

# Disable ETags
<IfModule mod_headers.c>
	Header Unset ETag
	FileETag none
</IfModule>

# Default expires header if none specified (stay in browser cache for 7 days)
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A604800
</IfModule>